# Secrets
certs/
.env
*.pem
*.key

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Wazuh generated
wazuh-certificates/
wazuh-certs-tool.sh
config.yml
